{% extends 'backend/baseback.html.twig' %}

{% block title %}Category index{% endblock %}

{% block content %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.Name }}</td>
                <td><a class="btn btn-block btn-outline-success" href="{{ path('category_show', {'id': category.id}) }}">show</a></td>
                <td><a class="btn btn-block btn-outline-info" href="{{ path('category_edit', {'id': category.id}) }}">edit</a></td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a style="max-width: 300px; margin-left: auto; margin-right: auto;" class="btn btn-block btn-info" href="{{ path('category_new') }}">Create new</a>
{% endblock %}
